section.documents .documents-box {
    width: 100%;
    height: 47vh;
    background: var(--linear-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--lg-radius);
    border: 2px dashed #EF950A40;
    position: relative;
}

section.documents .documents-box input {
    opacity: 0;
    position: absolute;
    top: 38%;
}

section.documents .documents-box .icon svg {
    color: var(--main-color);
    font-size: 3rem;
}

section.documents .documents-box .text h3 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--title-color);
}

section.documents .documents-box .text p {
    font-size: .9rem;
    color: var(--text-color);
}

section.documents .documents-box .btn button {
    width: 30%;
}

section.documents .document {
    display: flex;
    background-color: var(--white-color);
    border-radius: var(--sm-radius);
    padding: var(--padding);
}

section.documents .document img {
    height: 40vh;
    object-fit: contain;
}

section.documents .document div.extracted-text {
    /* background-color: rgba(255, 0, 0, 0.199); */
}

section.documents .document div.extracted-text textarea {
    background-color: var(--opacity-color);
    width: 100%;
    height: 100% !important;
    padding: 12px;
    color: var(--title-color);
    border-radius: var(--sm-radius);
    outline: none;
}

section.documents .document div.extracted-text textarea::-webkit-scrollbar {
    width: 5px;
}

section.documents .document div.extracted-text textarea::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 8px;
}

section.documents ul li {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    margin-bottom: 20px;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: var(--lg-radius);
}

section.documents ul li div {
    display: flex;
    justify-content: center;
}

section.documents ul li div img {
    width: 50%;
    height: 40vh;
    object-fit: contain;
}

section.documents ul li p {
    width: 50%;
    max-height: 40vh;
    overflow-y: auto;
    background-color: var(--opacity-color);
    border-radius: var(--sm-radius);
    padding: 20px;
}

section.documents ul li p::-webkit-scrollbar {
    width: 8px;
}

section.documents ul li p::-webkit-scrollbar-thumb {
    background-color: var(--opacity-color);
    border-radius: var(--lg-radius);
}