.custom-list {
    overflow-y: scroll;
    padding: 0 12px 0 30px;
    max-height: 250px;
}

.custom-list::-webkit-scrollbar {
    background-color: var(--opacity-color);
    width: 5px;
    border-radius: var(--sm-radius);
}

.custom-list::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: var(--sm-radius);
}

.custom-list ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--opacity-color);
    margin-bottom: 12px;
}