.head-title h2 {
    font-size: 1.8rem;
    font-weight: 600;
    position: relative;
    padding-bottom: 10px;
    color: var(--title-color);
}

.head-title h2::before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    right: 0;
}

@media (max-width: 1000px) {
    .head-title h2 {
        font-size: 1.5rem;
    }
}
@media (max-width: 800px) {
    .head-title h2 {
        font-size: 1.3rem;
    }
}