section.cases {}


section.cases .card h3 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--title-color);
}

section.cases .card h5 {
    font-size: .9rem;
    font-weight: 500;
    color: var(--title-color);
    margin-top: 8px;
}

section.cases .card h6 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--title-color);
    margin: 12px 0;
}

section.cases .card p,
section.cases .card span {
    font-size: 1rem;
    color: var(--text-color);
}

section.cases .card h4 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--title-color);
    margin-top: 12px;
}

section.cases .card a {
    padding: 8px 16px;
    background-color: var(--success-color);
    color: #fff;
    border-radius: var(--lg-radius);
}
