.defense-memo {}

.defense-memo .m_1959ad01:where([data-progress]) {
    border-color: var(--main-color);
}

.defense-memo .m_1959ad01:where([data-completed]) {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.m_2a371ac9:where([data-active]) {
    background-color: var(--main-color) !important;
}

.facts-page {}

.defense-memo .head-card {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.defense-memo .head-card .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--success-color);
    /* background-color: var(--success-color); */
}

.defense-memo .head-card .icon.selected {
    background-color: var(--success-color);
}

.defense-memo .head-card .icon svg {
    color: #fff;
}

.defense-memo .head-card span {
    padding: 8px 12px;
    background-color: var(--success-color);
    color: #fff;
    border-radius: var(--lg-radius);
}

.defense-memo .custom-card {
    cursor: pointer;
}

.defense-memo .custom-card p {
    color: var(--text-color);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.defense-memo .custom-card p  strong{
    color: var(--title-color);
}

.defense-memo .custom-card ul li{
    color: var(--text-color);
}

.defense-memo .custom-card .types div {
    padding: 4px 18px;
    /* background-color: red; */
    border-radius: var(--lg-radius);
    color: #fff;
}


.defense-memo .custom-card .defense-memo .custom-card .types div:nth-child(1) {
    border: 2px solid var(--main-color);
    color: var(--main-color);
}


.legal-analysis h3 {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--title-color);
    margin-bottom: 6px;
}

.legal-analysis .custom-card {
    color: var(--text-color);
}

.legal-analysis .custom-card textarea {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--text-color);
    min-height: 200px;
}

.defenses-list h3.title {
    margin-top: 30px;
    font-size: 1.3rem;
    font-weight: 600;
    position: relative;
    margin-bottom: 10px;
    border-top: 2px solid #3b3b3b15;
    padding-top: 20px;
}


.defenses-list .custom-card,
.final-requirements .custom-card {
    min-height: 250px;
}




/* ===========================================
    start defenses-list
=============================================== */

.defense-memo .defenses-list .custom-card h5.defense {
    margin: 25px 0;
    background-color: var(--second-color);
    padding: 8px;
    border-radius: var(--sm-radius);
    color: #1B1B1B;
    font-weight: 500;
}

.defense-memo .defenses-list .custom-card .strength {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.defense-memo .defenses-list .custom-card .strength h5 {
    font-weight: 500;
    color: var(--title-color);
    text-decoration: underline;
}

.defense-memo .defenses-list .custom-card .strength span {
    padding: 6px 12px;
    border-radius: var(--sm-radius);
    color: #fff;
    background-color: #ce1f00;
}

.defense-memo .defenses-list .custom-card .strength.Medium span {
    background-color: #e9be01;
}

.defense-memo .defenses-list .custom-card .strength.Strong span {
    background-color: #00ce0a;
}


/* ===========================================
    end defenses-list
=============================================== */



/* ===========================================
    start final-requirements
=============================================== */
.defense-memo .final-requirements .custom-card .badge span {
    padding: 6px 12px;
    border: 1px solid var(--main-color);
    border-radius: var(--sm-radius);
    color: var(--title-color);
}

.defense-memo .final-requirements .custom-card p.defense {
    margin: 25px 0;
    background-color: var(--second-color);
    padding: 8px;
    border-radius: var(--sm-radius);
    color: #1B1B1B;
    font-weight: 500;
}

/* ===========================================
    end final-requirements
=============================================== */
/* ===========================================
    start final-note
=============================================== */

/* ===========================================
    end final-note
=============================================== */