.profile-component {}

.profile-component span.edit-user-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}

.subscription .subscription-plan {
    background-color: var(--second-color);
    border-radius: var(--sm-radius);
    padding: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
}

main.dark .subscription .subscription-plan {
    background-color: #3d3d3d85;
}

.subscription .subscription-plan h4 {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--title-color);
    margin-bottom: 8px;
}

.subscription .subscription-plan p {
    color: var(--text-color);
    margin-bottom: 15px;
}

.subscription .subscription-plan span {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--main-color);
}